<a href="https://colab.research.google.com/github/prajwalnigam321/Data-Science-and-Machine-Learning/blob/main/hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
from scipy.stats import stats,norm,ttest_1samp
import numpy as np
import seaborn as sns

In [4]:
s=pd.read_csv('Sachin_ODI.csv')
s.describe()

,runs,NotOut,bf,fours,sixes,sr,Inns
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000
mean,43.241667,0.083333,49.394444,4.858333,0.466667,75.295056,1.527778
std,42.182452,0.276770,41.348576,4.722900,1.057669,34.980677,0.499923
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,15.000000,1.000000,0.000000,57.030000,1.000000
50%,30.000000,0.000000,35.000000,3.000000,0.000000,76.330000,2.000000
75%,67.000000,0.000000,73.500000,8.000000,1.000000,97.822500,2.000000
max,200.000000,1.000000,153.000000,25.000000,7.000000,196.550000,2.000000

In [15]:
mu=s['runs'].mean()
std=s['runs'].std()  #population mean and std
mu,std

(43.24166666666667, 42.18245206052441)

In [6]:
sample_mean=s[s['Inns']==1]['runs'].mean() #sample mean
sample_std=s[s['Inns']==1]['runs'].std()  #sample std 
print(f"sample mean: {sample_mean}   sample std:{sample_std}")

sample mean: 46.67058823529412   sample std:45.929941050027836

In [7]:
data=s[s['Inns']==1]['runs'].mean()
z=(data-mu)/(std/(len(s[s['Inns']==1]['runs'])**(0.5)))
p_value=1-norm.cdf(z) #taking significance level(alpha)=0.01
if p_value<0.01:
  print('reject h0')
else:
  print('Stick to null hypothesis')
  print('No difference between first innings and overall match')

#H0:sachin did not score more than mean
#Ha:sachin  scores more than usual mean

Stick to null hypothesis
No difference between first innings and overall match

In [8]:
data=s[s['Inns']==2]['runs'].mean()
z=(data-mu)/(std/(len(s[s['Inns']==2]['runs'])**(0.5)))
p_value=1-norm.cdf(z) #taking significance level(alpha)=0.01
if p_value<0.01:
  print('reject h0')
else:
  print('Stick to null hypothesis')
  print('No difference between second innings and overall match')

Stick to null hypothesis
No difference between second innings and overall match

# India winning match - does sachin score high

In [9]:
s.groupby(['Won'])['runs'].mean()

Won
False    35.130682
True     51.000000
Name: runs, dtype: float64

In [10]:
data=s[s['Won']==True]['runs'].mean()
z=(data-mu)/(std/len(s[s['Won']==True])**0.5)
p_value=1-norm.cdf(z) #taking significance level(alpha)=0.01
print(p_value)
if p_value<0.01:
  print('reject h0')
else:
  print('Stick to null hypothesis')
  print('No difference between second innings and overall match')
#H0:sachin did not score higher when india won match
#Ha:sachin  score higher when india won match

0.0063004085704118085
reject h0

In [20]:
from statsmodels.stats.weightstats import ztest 
data=s[s['Won']==True]['runs']
mu=s['runs'].mean()

ztest(data,value=mu,alternative="larger")

(2.3569505853039323, 0.009212849290106814)

In [22]:
ttest_1samp(data,popmean=mu,alternative='greater')#ttest

Ttest_1sampResult(statistic=2.3569505853039323, pvalue=0.009741294559239283)

for larger n both ztest and ttest are equal