<a href="https://colab.research.google.com/github/prajwalnigam321/Data-Science-and-Machine-Learning/blob/main/Youtube_ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

Here there are two samples-

sample 1- customer who watches 2 ads on youtube 

sample 2- customer who watches 1 ads on youtube

In [4]:
y=pd.read_csv('youtube.csv')
y.head()

         date  customer_id  premium  watch_time_hrs customer_segmnt
0  2018-09-11          402        0        7.173618         control
1  2018-02-28          227        0        0.836170         control
2  2018-10-18          812        1        4.402078       treatment
3  2018-05-22           43        0        3.982454         control
4  2018-07-18          307        0        7.513302         control

In [5]:
y.describe()

        customer_id       premium  watch_time_hrs
count  20000.000000  20000.000000    20000.000000
mean     499.001650      0.176750        9.362542
std      288.223444      0.381467      244.884839
min        0.000000      0.000000        0.160268
25%      249.000000      0.000000        1.678066
50%      500.000000      0.000000        2.670953
75%      747.000000      0.000000        4.204673
max      999.000000      1.000000    10007.648185

In [11]:
y['watch_time_hrs'].max()

10007.648184512886

In [15]:
y.describe()
#extreme outliers

        customer_id       premium  watch_time_hrs
count  20000.000000  20000.000000    20000.000000
mean     499.001650      0.176750        9.362542
std      288.223444      0.381467      244.884839
min        0.000000      0.000000        0.160268
25%      249.000000      0.000000        1.678066
50%      500.000000      0.000000        2.670953
75%      747.000000      0.000000        4.204673
max      999.000000      1.000000    10007.648185

In [16]:
q998=y['watch_time_hrs'].quantile(0.998)
y_out=y[y['watch_time_hrs']<q998]
#cleaning of data

In [18]:
y_out.describe()

        customer_id       premium  watch_time_hrs
count  19960.000000  19960.000000    19960.000000
mean     499.160271      0.176653        3.331932
std      288.249181      0.381385        2.474943
min        0.000000      0.000000        0.160268
25%      249.000000      0.000000        1.676373
50%      501.000000      0.000000        2.664286
75%      747.000000      0.000000        4.186733
max      999.000000      1.000000       21.356119

In [20]:
control=y_out[y_out['customer_segmnt']=='control']
treatment=y_out[y_out['customer_segmnt']=='treatment']

In [23]:
control['watch_time_hrs'].mean()

3.6099602285795678

In [24]:
treatment['watch_time_hrs'].mean()

3.0542936797350437

In [44]:
from scipy.stats import ttest_ind
# u1-control(3.6) u2-treatment(3.05) we have to prove that u1>u2
ttest_ind(control['watch_time_hrs'],treatment['watch_time_hrs'],alternative='greater')

Ttest_indResult(statistic=15.96034913022092, pvalue=2.719204293115659e-57)

In [36]:
with_premium=y_out[y_out['premium']==1]
without_premium=y_out[y_out['premium']==0]

In [42]:
with_premium['watch_time_hrs'].mean()

3.2451567572841227

In [43]:
without_premium['watch_time_hrs'].mean()

3.350550177251679

In [47]:
ttest_ind(with_premium['watch_time_hrs'],without_premium['watch_time_hrs'],alternative='less')
#reject null hypothesis

Ttest_indResult(statistic=-2.2947071502736645, pvalue=0.010880120917801009)

In [49]:
with_premium=y_out[y_out['premium']==1]
prem_treat=with_premium[with_premium['customer_segmnt']=='treatment'] #premium customer where customer segment is treatment
noprem_control=without_premium[without_premium['customer_segmnt']=='control'] # non premium customer where customer segment is control

In [50]:
prem_treat['watch_time_hrs'].mean()

2.987602919063461

In [51]:
noprem_control['watch_time_hrs'].mean()

3.613993108712128

In [54]:
ttest_ind(prem_treat['watch_time_hrs'],noprem_control['watch_time_hrs'],alternative='less')
#reject null hypothesis

Ttest_indResult(statistic=-9.73446494598437, pvalue=1.3360210484283868e-22)